.btn {
    font-size: 24px;       
    color: white; 
    background-color: #61DAFB; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #4ED4FA;
    box-shadow: 0 4px 12px rgba(97, 218, 251, 0.6);
}